@media (max-width: 479px)
{
    /*---------------
        Main styles
    ---------------*/
    body
    {
        font-size: 14px;
        line-height: 18px;
    }

    .main_title
    {
        font-size: 30px;
        line-height: normal;
    }

    .text_block h1,
    .text_block > .title
    {
        font-size: 30px;
    }

    .text_block p,
    .text_block img
    {
        margin-bottom: 18px;
    }
    /*---------------
        Header
    ---------------*/
    header .info
    {
        padding: 12px 0;
    }

    header .logo
    {
        max-width: 160px;
    }
    /*---------------
        Main section
    ---------------*/
    .first_section
    {
        padding-top: 80px;
    }

    .first_section .box_l
    {
        text-align: center;
    }

    .first_section .title
    {
        font-size: 40px;
    }

    .first_section .info
    {
        font-size: 20px;
    }

    .first_section .desc
    {
        font-size: 16px;
        line-height: 22px;
    }


    .link_btn a
    {
        line-height: 40px;
    }

    .info_deposit .item .time:before
    {
        margin-right: 15px;
    }

    .info_deposit .item .info
    {
        text-align: center;
    }

    .info_deposit .item .info .price
    {
        justify-content: center;
    }

    .info_deposit .item .info .desc
    {
        justify-content: center;
    }


    .about .info
    {
        width: 100%;
        margin-top: 20px;
    }

    .about .info:after
    {
        display: none;
    }

    .about .info .officially
    {
        font-size: 12px;
        line-height: 18px;
    }

    .about .info .officially .icon
    {
        width: 40px;
    }

    .about .info .officially .box
    {
        width: calc(100% - 53px);
        margin-top: 0;
    }

    .about .cols .col_r .img
    {
        width: 100%;
    }

    .affiliate .img:before
    {
        display: none;
    }

    .affiliate .desc
    {
        line-height: normal;
    }

    .affiliate .items .item .number
    {
        font-size: 50px;
        line-height: 40px;

        height: 40px;
    }

    .affiliate .items .item .number span
    {
        font-size: 30px;
    }


    .how_start .items
    {
        margin-left: 0;
    }

    .how_start .items .item
    {
        width: 100%;
        margin-left: 0;
        padding-left: 0;

        text-align: center;
    }

    .how_start .items .item:before
    {
        display: none !important;
    }

    .how_start .items .item .name
    {
        font-size: 18px;
        line-height: normal;
    }

    .how_start .items .item .number
    {
        width: 100%;
    }

    .how_start .items .item .icon
    {
        justify-content: center;
    }
    /*---------------
        Footer
    ---------------*/
    footer .box_list
    {
        line-height: 24px;

        width: 100%;
        max-width: 266px;
        margin: 0 auto 0;
    }

    footer .list .item a
    {
        font-size: 18px;

        padding-left: 16px;
    }

    footer .contact
    {
        width: 100%;
        margin-top: 30px;

        text-align: center;
    }

    footer .payments img
    {
        margin-right: auto;
    }

    footer .phone
    {
        font-size: 16px;
        line-height: 24px;
    }
}
